body{
    color: white;
    background: url("../img/child.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1
{
    color: #ff0000;
    color: green;
}
.border{
    border: 1px solid #6fff4b;
	/*border-style: dotted dashed solid duble;*/
}
.ul_border li{
boder-bottom : 1ps solid green;
}